* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #001f3f;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding: 0;
    margin: 0;
}

.cool-link:hover,
.cool-link.active {
    color: white;
    transition: 0s;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0;
}

.nav-links li {
    list-style: none;
}

.hej {
    display: none;
    cursor: pointer;
}

.hej div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background-color: #111;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-weight: 700;
    font-size: 1.5em;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    background: #001f3f;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn:hover {
    background-color: #2196f3;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #111;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}

#vi {
    padding-top: 90px;
}

.contentBx {
    padding-right: 30px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}

.services {
    background: #111;
}

.heading.hvid {
    color: #fff;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.servicesBx img {
    height: 100px;
    width: 100px;
}

.services .content .servicesBx:hover {
    background: #001f3f;
}

.services .content .servicesBx img {
    max-width: 100px;
    filter: invert(1);
}

.services .content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
}

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx {
    width: 50%;
    padding: 20px;
}

.work .content .workBx img {
    max-width: 100%;
}

.kunder {
    background: #f7f7f7;
}

.kunder .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kunder .content .testimonialBx {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #001f3f;
}

.kunder .content .testimonialBx p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.kunder .content .testimonialBx h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1-5em;
}

.kunder .content .testimonialBx h3 span {
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #001f3f;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: +1;
    }

    .footer {
        background-color: #001f3f;
        color: #d3d3d3;
        position: relative;
        font-size: 11px
    }

    .footer .footer-bottom {
        background: #001f3f;
        color: rgb(226, 226, 226);
        height: 48px;
        width: 100%;
        text-align: center;
        position: absolute;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .hej {
        display: block;
    }

    header {
        padding: 20px 50px;
    }

    section {
        padding: 100px 50px;
    }

    .banner {
        padding: 150px 50px 100px;
    }

    .banner h2 {
        font-size: 1.5em;
    }

    .banner h3 {
        font-size: 1em;
    }

    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size-adjust: 16px;
    }

    .heading h2 {
        font-size: 24px;
    }

    .contentBx h3 {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
    }

    .w50 {
        margin-bottom: 20px;
    }

    .services .content .servicesBx {
        margin: 10px;
    }

    .work .content .workBx {
        width: 100%;
        padding: 10px;
    }

    .kunder .content .testimonialBx {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: #2196f3;
    }

}

.nav-active {
    transform: translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

a.active {
    color: #71c4e0;
    border-bottom: solid 2px #71C4E0;
}

.cool-link:focus {
    color: #71c4e0;
    border-bottom: solid 2px #71C4E0;
}

.cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #d3d3d3;
    transition: width .2s;
}

.cool-link:hover::after {
    width: 100%;
}

:focus {
    color: #71c4e0;
    border-bottom: solid 2px #71C4E0;
}

.footer {
    background: #303036;
    color: #d3d3d3;
    position: relative;
}

.footer .footer-bottom {
    background: #001f3f;
    color: rgb(226, 226, 226);
    height: 48px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
