* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #001f3f;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding: 0;
    margin: 0;
}

.forside {
    position: absolute;
    height: 87%;
    width: 100%;
    object-fit: cover;
    z-index: -11;
    filter: brightness(50%);
    padding-bottom: 1px;
}

.titel2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 0;
    right: 0;
    z-index: +1;
    font-size: 32px;
    color: #fcdc9e;
    font-family: 'Poppins', sans-serif;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.titel {
    padding-top: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 40%;
    font-size: 72px;
    color: #034061;
    filter: brightness(170%);
    font-family: 'Poppins', sans-serif;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.undertitel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 55%;
}

.undertitel a {
    position: absolute;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(240, 104, 41);
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
    width: 150px;
    height: 40px;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    transition: 0.5s;
}

.undertitel a:hover {
    background: white;
}

#mere {
    margin: 0;
    padding: 0;
}

#mere h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 70px;
    padding-top: 7rem;
    text-shadow: 1px 1px;
    font-family: 'Poppins', sans-serif;
}

#mere p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 3rem;
    font-size: 26px;
}

.logo1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 400px;
    padding-top: 4rem;
}

#center {
    text-align: center;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

section.sec1 {
    background: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.billedtitel {
    position: relative;
    text-align: center;
    top: 50%;
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
}

.border2 {
    background-color: #111;
    color: #fff;
    padding: 10px;
}

section.sec2 {
    background: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

section.sec3 {
    background: url();
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.cool-link:hover,
.cool-link.active {
    color: white;
    transition: 0s;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0;
}

.nav-links li {
    list-style: none;
}

.hej {
    display: none;
    cursor: pointer;
}

.hej div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #001f3f;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: +1;
    }
    .footer {
        background-color: #001f3f;
        color: #d3d3d3;
        position: relative;
        font-size: 11px
    }

    .footer .footer-bottom {
        background: #001f3f;
        color: rgb(226, 226, 226);
        height: 48px;
        width: 100%;
        text-align: center;
        position: absolute;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
    }
    .hej {
        display: block;
    }

    .undertitel {
        top: 67%;
    }

    nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: +12;
    }

    #mere p {
        text-align: center;
        margin: 0;
        line-height: 2.5rem;
    }
}

.nav-active {
    transform: translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


a.active {
    color: #71c4e0;
    border-bottom: solid 2px #71C4E0;
}

.cool-link:focus {
    color: #71c4e0;
    border-bottom: solid 2px #71C4E0;
}

.cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #d3d3d3;
    transition: width .2s;
}

.cool-link:hover::after {
    width: 100%;
}

:focus {
    color: #71c4e0;
    border-bottom: solid 2px #71C4E0;
}

.flexcontainer {
    padding: 5px;
    height: 87vh;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    align-items: center;
    z-index: -1;
}

.page-wrapper {
    min-height: 88%;
}

.flexcontainer2 {
    position: relative;
    padding: 0px;
    top: 5vh;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: row;
    display: flex;
    align-content: center;
    color: black;
    opacity: 1;
    padding-top: 100px;
}

.fc2h4 {
    padding-top: 30px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 72px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

ul {
    list-style-type: none;
}

.card {
    background-image: linear-gradient(180deg, white, rgb(226, 226, 226));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    color: black;
    display: block;
    padding: 40px 20px;
    text-size-adjust: 100%;
    margin: 40px;
    float: left;
    height: 500px;
    width: 245px;
    text-align: center;
    line-height: 2rem;
    transition: width 0.3s, height 0.3s, margin 0.3s;
    opacity: 0.7;
}

.top {
    padding: 7rem 0 0 0;
}

.top h1 {
    font-size: 24px;
}

.bottom-part {
    position: relative;
    bottom: -15%;
    border: 1px solid #001f3f;
    background: white;
    transition: 0.5s;
    top: 100px;
}

.card img {
    position: relative;
    bottom: 300px;
}

.card:hover {
    background: #CCD5FF;
    color: black;
    width: 270px;
    margin: 30px;
    height: 525px;
    opacity: 1;
}

.bottom-part:hover {
    background: rgb(37, 96, 206);
    color: white;
}

.bottom-part a {
    text-decoration: none;
    color: rgb(37, 96, 206);
    display: flex;
    justify-content: center;
}

.bottom-part a:hover {
    color: white;
}

.lavet-1 {
    padding-bottom: 10px;
}

.package-list li {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 590;
}

.cont1 {
    height: 750px;
}

.valgos {
    color: black;
    text-align: center;
    font-size: 68px;
    text-transform: uppercase;
    padding-top: 8rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -10;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(50%);
}

.fc2h4 .border {
    background-color: #111;
    color: #fff;
    padding: 10px;
}

.footer {
    background: #303036;
    color: #d3d3d3;
    position: relative;
}

.footer .footer-bottom {
    background: #001f3f;
    color: rgb(226, 226, 226);
    height: 48px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
